/* ESTILO GERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: black;
  height: 100vh;
}

.interface {
  max-width: 1280px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

/* Configurações do Header */
header {
  padding: 20px;
}

header>.interface {
  display: flex;
  align-items: center;
  justify-content: center;
}

header .logo a {
  font-size: 25px;
  color: #1b20f9;
  text-decoration: none;
}

.borda {
  border-top: 2px solid #1b20f9;
}

/* Configurações da caixa com Listas */
.selector-container {
  padding-top: 30px;
  margin-left: 10%;
}

#category {
  color: #000000;
  background-color: #ffffff;
  border-color: white;
  padding: 2px 2px;
  width: 250px;
}

/* Configurações da Lista de Jogos */
section.games-panel {
  padding: 20px 4%;
}

section.games-panel .flex {
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

section.games-panel .game-img img {
  max-height: 200px;
  margin: 0 auto;
}

section.games-panel .game {
  cursor: pointer;
  padding: 18px;
  border-width: 2px;
  /* Largura da borda */
  border-style: solid;
  border-image: linear-gradient(to right, #292929, #000000);
  /* Cores do degradê */
  border-image-slice: 1;
  /* Define a região do degradê a ser utilizada (toda a borda) */
  box-sizing: border-box;
  margin: 8px;
  display: flex;
}

.game .game-description {
  padding: 0px 4%;
  color: white;
}

.game-description .title {
  font-size: 25px;
}

.game-description .title span {
  margin: 25px;
}

.game-description .title span i {
  color: yellow;
  margin: 8px;
}

.game-description p {
  padding-top: 10px;
  font-size: 16px;
  color: white;
}

.game-genres {
  margin-top: 7%;
}

.game-genres span {
  font-size: 15px;
  color: rgb(255, 255, 255);
  padding: 9px 10px;
  margin-right: 20px;
  border: 2px;
  border-radius: 4px;
  background-color: #313131;
}

/* Configurações do MoveList */
/* Adicione estilos específicos para o contêiner de queda (onde os itens podem ser soltos) */
.cdk-drop-list {
  min-height: 60px;
  padding: 10px;
  border-radius: 4px;
}

/* Adicione estilos para destacar visualmente o item enquanto é arrastado */
.cdk-drag-animating {
  opacity: 0.7;
}

/* Adicione estilos para o indicador de posição enquanto você arrasta um item sobre a lista */
.cdk-drag-placeholder {
  opacity: 0.5;
  border-radius: 4px;
}

/* Adicione estilos específicos para o preview do game */
.cdk-drag-preview {
  display: flex;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  box-sizing: border-box;
}

/* Adicione estas regras para a imagem dentro do item de pré-visualização */
.cdk-drag-preview img {
  max-height: 200px;
  margin: 0 auto;
}
