<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- GOOGLE-FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap">
    <!-- END GOOGLE-FONTS -->
    <!-- BOOTSTRAP ICONS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <!-- END BOOTSTRAP ICONS -->

    <title>Game list</title>
</head>

<body>

    <header>
        <div class="interface">
            <div class="logo">
                <a href="#">Game List</a>
            </div>
        </div>
    </header>

    <div class="line-header borda">
    </div>

    <div class="selector-container">
      <select id="category" class="form-select" [(ngModel)]="selectedLista" (change)="onListaChange() ">
        @for (lista of listas; track $index) {
          <option [routerLink]="['/lists', lista.id]" [value]="lista.id">{{ lista.name }}</option>
        }
      </select>
    </div>

    <main>
        <section class="games-panel">
            <div class="interface">
                <div class="flex">
                  <div cdkDropList [cdkDropListData]="listaDeJogos" class="games-list"
                  (cdkDropListDropped)="reorderGames($event)">
                    @for (item of listaDeJogos; track $index) {
                    <div class="game" cdkDrag [routerLink]="['/games', item.id]">
                      <div class="game-img">
                          <img [src]="item.imgUrl"
                              alt="gameImage">
                      </div>
                      <div class="game-description">
                        <h2 class="title"> {{ item.title }} <span class="star"><i
                        class="bi bi-star-fill"></i>{{ item.score }}</span>
                        </h2>
                          <p>{{ item.shortDescription }}</p>
                        <div class="game-genres">
                          @for (genre of item.genre.split(','); track $index) {
                            <span class="genre">{{ genre.trim() }}</span>
                          }
                        </div>
                      </div>
                    </div> <!--end-game-->
                    }
                  </div>
                </div> <!--end-flex-->
            </div> <!--end-interface-->
        </section> <!--end-games-panel-->
    </main>

</body>

</html>
